CDEK_BASE_URL=https://api.cdek.ru

CDEK_ODN_CLIENT_ID=
CDEK_ODN_CLIENT_SECRET=

CDEK_YAN_CLIENT_ID=
CDEK_YAN_CLIENT_SECRET=

CDEK_ODN_SHIPMENT_POINT=ODN8
CDEK_YAN_SHIPMENT_POINT=YANN10

CDEK_MSK_CITY_CODE=520
CDEK_YAN_CITY_CODE=13059

CDEK_SENDER_NAME=
CDEK_SENDER_PHONE=

CDEK_SELLER_NAME=AES ISLAND

PORT=8787
